<nav class="navbar header">
    <a class="navbar-brand" href="#"><img src="assets/digi.png" class="logo" width="100" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
<div class="contenu">
    <div class="container">
        <div class="row content-inner">
            <div class="col-xs-12 col-sm-12 col-lg-8">
                <div class="mb-5 bg-white inner">
                    <div class="card-title">
                        <div class="row">
                            <h6 class="etat" align="center">SOLVED</h6>
                        </div>
                        <div class="row">
                            <h3 class="title"><b>How can i get to the course forum?</b></h3>
                        </div>
                        <div class="row">
                            <p class="statistic"><span>1 hour ago</span> . <span>5 replies</span> . <span>548 views</span></p>
                        </div>
                    </div>
                    <hr class="separator">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/fanilo.png" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <p><span><a href="#">Garrett Ni</a></span><span class="reply"> Student</span> . <span class="reply">1 reply</span></p>
                                <p class="text">Why not include those libs? For Angular it's better to avoid using libraries that make direct manipulation of the DOM (like jQuery) and let Angular handle that.</p>
                                <div class="text-reply">
                                    <p class="right-answer"><b><i class="fa fa-check-circle"></i> Best answer by <span>La</span></b></p>
                                    <p class="objectif">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo placeat voluptatem velit, perspiciatis rem, cupiditate corrupti sequi obcaecati magni itaque quaerat, modi dolor labore tempora ipsum reprehenderit accusamus
                                        amet. Officia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-default">course disscussion forums</button>
                        </div>
                        <div class="row">
                            <div class="reaction">
                                <p class="react">
                                    <a href="#"><span><i class="fa fa-thumbs-up"></i>   Like</span></a>
                                    <a href="#"><span><i class="fa fa-quote-left"></i> Question</span></a>
                                    <a href="#"><span><i class="fa fa-share-alt"></i> Share</span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-5 bg-white inner2">
                    <div class="card-title">
                        <div class="row">
                            <h3 class="title2"><b>12 replies</b></h3>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/la.jpg" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <p><span><a href="#">Muriella</a></span><span class="reply"> Mentor</span> . <span class="reply">1 reply</span></p>
                                <p class="text"><a href="#">@Garrett Ni</a> Why not include those libs? For Angular it's better to avoid using libraries that make direct manipulation of the DOM (like jQuery) and let Angular handle that.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="reaction">
                                <p class="react">
                                    <a href="#"><span><i class="fa fa-thumbs-up"></i>   Like</span></a>
                                    <a href="#"><span><i class="fa fa-quote-left"></i> Question</span></a>
                                </p>
                            </div>
                        </div>
                        <hr class="separator">
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/gela.jpg" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <p><span><a href="#">Gela</a></span><span class="reply"> Mentor</span> . <span class="reply">1 reply</span> <span class="dure">1 Days</span></p>
                                <p class="text"><a href="#">@Garrett Ni</a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit modi laborum dolor nobis veniam vero quia rerum, adipisci illum architecto recusandae quidem voluptatum quam minima impedit numquam
                                    quasi unde omnis.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row reply2">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/unknown.jpg" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <p><span><a href="#">Gela</a></span><span class="reply"> Mentor</span> . <span class="reply">1 reply</span><span class="etat"> Answer</span> <span class="dure">1 Days</span></p>
                                <p class="text"><a href="#">@Garrett Ni</a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit modi laborum dolor nobis veniam vero quia rerum, adipisci illum architecto recusandae quidem voluptatum quam minima impedit numquam
                                    quasi unde omnis.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/leo.jpg" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <p><span><a href="#">Gela</a></span><span class="reply"> Mentor</span> . <span class="reply">1 reply</span> <span class="dure">1 Days</span></p>
                                <p class="text"><a href="#">@Garrett Ni</a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit modi laborum dolor nobis veniam vero quia rerum, adipisci illum architecto recusandae quidem voluptatum quam minima impedit numquam
                                    quasi unde omnis.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/mariah.jpg" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <p><span><a href="#">Gela</a></span><span class="reply"> Mentor</span> . <span class="reply">1 reply</span> <span class="dure">1 Days</span></p>
                                <p class="text"><a href="#">@Garrett Ni</a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit modi laborum dolor nobis veniam vero quia rerum, adipisci illum architecto recusandae quidem voluptatum quam minima impedit numquam
                                    quasi unde omnis.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/gela.jpg" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10">
                                <p><span><a href="#">Gela</a></span><span class="reply"> Mentor</span> . <span class="reply">1 reply</span> <span class="dure">1 Days</span></p>
                                <p class="text"><a href="#">@Garrett Ni</a> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit modi laborum dolor nobis veniam vero quia rerum, adipisci illum architecto recusandae quidem voluptatum quam minima impedit numquam
                                    quasi unde omnis.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Reply</h5>
                                <editor [init]="{
                                    height: 200,
                                    menubar: false,
                                    plugins: [
                                      'advlist autolink lists link image charmap print preview anchor',
                                      'searchreplace visualblocks code fullscreen',
                                      'insertdatetime media table paste code help wordcount'
                                    ],
                                    toolbar:
                                      'undo redo | formatselect | bold italic backcolor | \
                                      alignleft aligncenter alignright alignjustify | \
                                      bullist numlist outdent indent | removeformat | help'
                                  }">
                                </editor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-5 bg-white popular">
                    <a href="#" class="publicite">
                        <div class="card-header">
                            <h5 class="titlepop">Find the support during the codvid-19 pandemic</h5>
                            <br>
                            <div class="row avatar2">
                                <img src="assets/gela.jpg" width="37" height="37" alt="logo"><span class="duree"> 1 month</span>
                            </div>
                        </div>
                    </a>
                    <div class="card-body popcontent">
                        <div class="row poptheme">
                            <h5>Related topic</h5><br>
                            <a href="#">
                                <p><span class="poptext"><b>Don't forget to use a question mark at the end of a sentence that really is a direct question: </b></span><span><i class="fa fa-check-circle"></i></span></p>
                            </a>
                            <a href="#">
                                <p><span class="poptext">Don't forget to use a question mark at the end of a sentence that really is a direct question:</span></p>
                            </a>
                            <a href="#">
                                <p><span class="poptext">Don't forget to use a question mark at the end of a sentence that really is a direct question:</span></p>
                            </a>
                        </div>
                        <hr>

                        <div class="row poptheme">
                            <h5>Top FAQ</h5><br>
                            <a href="#">
                                <p><span class="poptext"><b>
                                    Course ends tonight (march 11) and I'm watinig for my peers to check my work, after tonight will I lose everythimg and I wont earn a certificate?icon
                                    Community Help & Questio
                                </b></span><span> <i class="fa fa-check-circle"></i></span></p>
                            </a>
                        </div>
                        <div class="row poptheme">
                            <a href="#">
                                <p><span class="poptext">Course ends tonight (march 11) and I'm watinig for my peers to check my work, after tonight will I lose everythimg and I wont earn a certificate?icon
                                    Community Help & Questio</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>