<img class="headerimage" src="assets/format.svg" alt="">
<nav class="navbar header">
    <a class="navbar-brand" href="#">Never expand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
<div class="contenu">
    <div class="container">
        <div class="row content-inner">
            <div class="col-lg-8" align="justify">
                <div class="mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/fanilo.png" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <h5 class="title">What do we think about the class in week 4, week 3?</h5>
                                <p class="text">Why not include those libs? For Angular it's better to avoid using libraries that make direct manipulation of the DOM (like jQuery) and let Angular handle that.</p>
                            </div>
                            <div class="col-2 feedback">
                                <a href="/forum">
                                    <div class="commentaire">
                                        <div class="comments">
                                            465
                                        </div>
                                        <div class="mark"></div>
                                    </div>
                                </a>
                                <hr>
                                <div class="vue">
                                    <i class="fa fa-eye"></i> 4,646
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"> 2 days</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/la.jpg" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-12 reaction">
                                        <div class="row react">
                                            <a href="#"><i class="fa fa-thumbs-up"><span class="number"><br>128</span></i></a>
                                            <a href="#"><i class="fa fa-thumbs-down"><span class="number"><br>84</span></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <h5 class="title">What do we think about the class in week 4, week 3?</h5>
                                <p class="text">Why not include those libs? For Angular it's better to avoid using libraries that make direct manipulation of the DOM (like jQuery) and let Angular handle that.</p>
                            </div>
                            <div class="col-2 feedback">
                                <a href="#">
                                    <div class="commentaire">
                                        <div class="comments">
                                            465
                                        </div>
                                        <div class="mark"></div>
                                    </div>
                                </a>
                                <hr>
                                <div class="vue">
                                    <i class="fa fa-eye"></i> 4,646
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"> 2 days</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/gela.jpg" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-12 reaction">
                                        <div class="row react">
                                            <a href="#"><i class="fa fa-thumbs-up"><span class="number"><br>128</span></i></a>
                                            <a href="#"><i class="fa fa-thumbs-down"><span class="number"><br>84</span></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <h5 class="title">What do we think about the class in week 4, week 3?</h5>
                                <p class="text">Why not include those libs? For Angular it's better to avoid using libraries that make direct manipulation of the DOM (like jQuery) and let Angular handle that.</p>
                            </div>
                            <div class="col-2 feedback">
                                <a href="#">
                                    <div class="commentaire">
                                        <div class="comments">
                                            465
                                        </div>
                                        <div class="mark"></div>
                                    </div>
                                </a>
                                <hr>
                                <div class="vue">
                                    <i class="fa fa-eye"></i> 4,646
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"> 2 days</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row avatar">
                                            <img src="assets/fanilo.png" width="60" height="60" alt="logo">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-12 reaction">
                                        <div class="row react">
                                            <a href="#"><i class="fa fa-thumbs-up"><span class="number"><br>128</span></i></a>
                                            <a href="#"><i class="fa fa-thumbs-down"><span class="number"><br>84</span></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <h5 class="title">What do we think about the class in week 4, week 3?</h5>
                                <p class="text">Why not include those libs? For Angular it's better to avoid using libraries that make direct manipulation of the DOM (like jQuery) and let Angular handle that.</p>
                            </div>
                            <div class="col-2 feedback">
                                <a href="/forum">
                                    <div class="commentaire">
                                        <div class="comments">
                                            465
                                        </div>
                                        <div class="mark"></div>
                                    </div>
                                </a>
                                <hr>
                                <div class="vue">
                                    <i class="fa fa-eye"></i> 4,646
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"> 2 days</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="mb-5 bg-white popular">
                    <div class="card-header">
                        <h5 class="titlepop">Most populars theme</h5>
                    </div>
                    <div class="card-body popcontent">
                        <div class="row poptheme">
                            <a href="#">
                                <p><i class="fa fa-arrow-circle-right "></i><span class="poptext">Don't forget to use a question mark at the end of a sentence that really is a direct question:</span></p>
                            </a>
                        </div>
                        <div class="row poptheme">
                            <a href="#">
                                <p><i class="fa fa-arrow-circle-right "></i><span class="poptext">Manage your info, privacy, and security to make Google work better for you</span></p>
                            </a>
                        </div>
                        <div class="row poptheme">
                            <a href="#">
                                <p><i class="fa fa-arrow-circle-right "></i><span class="poptext">Don't forget to use a question mark at the end of a sentence that really is a direct question:</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>